<cf_handlebars context="#result#">
<style>
	body.storyMode #openFilesList {
		display:none;
	}

	body.storyMode #fileListContainer {
		display:none !important;
	}

	body.storyMode #renderingContainer {
		width:100% !important;
		padding-top:.5rem;
		padding-bottom: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	body.storyMode #storyPlayer {
		display:block !important;
	}

	body.storyMode #storyMenu {
		display:block !important;
	}
</style>
<li id="" class="nav-item">
	<a class="nav-link" href="{{view_state.editor_link}}">
		<span class="nav-link-icon d-md-none d-lg-inline-block" data-bs-toggle="tooltip" data-bs-placement="right" title="From beginning"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-slideshow" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l.01 0" /><path d="M3 3m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" /><path d="M3 13l4 -4a3 5 0 0 1 3 0l4 4" /><path d="M13 12l2 -2a3 5 0 0 1 3 0l3 3" /><path d="M8 21l.01 0" /><path d="M12 21l.01 0" /><path d="M16 21l.01 0" /></svg>
		</span>
		<span class="nav-link-title">
			From Beginning
		</span>
	</a>
</li>
<li id="" class="nav-item">
	<a id="storyExitLink" class="nav-link" href="{{view_state.exit_story_link}}">
		<span class="nav-link-icon d-md-none d-lg-inline-block" data-bs-toggle="tooltip" data-bs-placement="right" title="Exit Presenation (Escape)"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-stop" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 5m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" /></svg>
		</span>
		<span class="nav-link-title">
			Exit
		</span>
	</a>
</li>
</cf_handlebars>