<div class="card-header">
	<div class="card-title">
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
		Editor Settings
	</div>
</div>
<div class="card-body">
	<div class="card bg-azure-lt text-primary-fg mb-3">
		<div class="card-stamp">
			<div class="card-stamp-icon bg-azure text-primary">
				<!-- Download SVG icon from http://tabler-icons.io/i/star -->
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
			</div>
		</div>
		<div class="card-body">
			<h3 class="card-title">Basic Settings</h3>
			<p>Overall settings for your ChartSQL Studio Editor.</p>
		</div>
	</div>
	<h2 class="mb-4">Configuration</h2>
	{{!-- <div class="mb-3">
		<h3 class="card-title">Config File Path</h3>
		<p class="text-muted">File location of the editor configuration that stores your settings</p>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="studio.json" aria-label="studio.json" aria-describedby="basic-addon2" value="{{data.ChartSQLStudio.ConfigPath}}">
			<span class="input-group-text" id="basic-addon2">Move</span>
		</div>
		<small class="form-hint">Location of your ChartSQL Studio Config</small>
	</div> --}}

	<div class="mb-3">
		<h3>Reload Studio</h3>
		<p class="text-muted">Reload and instantiate ChartSQL Studio. This will clear any existing executions and cached files.</p>
		<div class="btn-list">
			<form method="POST" action="/studio/settings/reload" zero-swap="#settingsContent">
				<input type="hidden" name="goto" value="/studio/settings">
				<button type="submit" class="btn btn-outline-primary">Reload Editor</button>
			</form>
		</div>
	</div>
		<h3>Change Branding</h3>
	<div class="mb-3 col-12 d-flex flex-wrap align-items-center">
		<div class="col-12 col-sm-5 pe-3">
			<form method="POST" action="/studio/settings/changeExpandedLogo" enctype="multipart/form-data">
				<input type="hidden" name="goto" value="/studio/settings">
				<input type="hidden" name="goto_fail" value="/studio/settings">
				<label class="form-label">Expanded Logo</label>
				<img src="/studio/main/logo" height="25" class="mb-3" alt="Studio Logo">
				<div class="input-group w-100">
					<input type="file" class="form-control" name="file" accept="image/*" required>
					<button type="submit" class="btn">Save Expanded Logo</button>
				</div>
				<small class="form-hint">Change the expanded studio logo to your own brand (recommended size: 170x25).</small>
			</form>
		</div>
		<div class="col-12 col-sm-5 ps-3">
			<form method="POST" action="/studio/settings/changeSmallLogo" enctype="multipart/form-data">
				<input type="hidden" name="goto" value="/studio/settings">
				<input type="hidden" name="goto_fail" value="/studio/settings">
				<label class="form-label">Mascot Logo</label>
				<img src="/studio/main/mascot" height="25" alt="ChartSQL Studio" class="mb-3" alt="Studio Logo">
				<div class="input-group">
					<input type="file" class="form-control" name="file" accept="image/*" required>
					<button type="submit" class="btn">Save Mascot Logo</button>
				</div>
				<small class="form-hint mt-2">Change the small/mascot studio logo to your own brand (recommended size: 25x25).</small>
			</form>
		</div>
	</div>
	<div class="mb-3">
		<h3>Reset Branding</h3>
		<p class="text-muted">Reset the expanded and small logos to the default ChartSQL Studio logos.</p>
		<form method="POST" action="/studio/settings/resetLogos">
			<input type="hidden" name="goto" value="/studio/settings">
			<input type="hidden" name="goto_fail" value="/studio/settings">
			<input type="hidden" name="preserve_response" value="view_state.resetBranding">
			<button type="submit" class="btn btn-outline-primary">Reset Branding</button>
		</form>
		{{#if view_state.resetBranding.errors}}
			<div class="alert alert-danger mt-5">
				<h4 class="alert-heading">Could not reset branding!</h4>
			</div>
		{{/if}}
	</div>
</div>
{{!-- <div class="card-footer bg-transparent mt-auto">
	<div class="btn-list justify-content-end">
		<a href="#" class="btn">
			Cancel
		</a>
		<a href="#" class="btn btn-primary">
			Submit
		</a>
	</div>
</div> --}}